.pagination{
  display: block;margin:auto;margin-top:10px;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover
 {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #ddd;
 
}

.pagination a{
padding: 8px 16px;
color:#000;
border : 1px solid #ededed;
text-decoration :none;
margin:3px;
transition: -3s;
}
.pagination a.active{
background-color: dodgerblue;
color:#FFF;
}
.pagination a:hover:not(.active){
background-color: #ddd;
cursor:pointer;
}

  img { display: block; height: auto; max-width: 100%;}
  *{box-sizing: border-box;}
  .movie-card {
    position: relative;
    display: flex;
   background-color: #f1f1f1;
    min-width: 0;
    word-wrap: break-word;
  
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  .link{color:#000;}
  .col-40{width:40%;padding:5%;float:left;}
  .col-60{width:60%;;padding:5%;margin:20px;border: 1px solid rgba(0,0,0,.125);text-align: justify; background-color: #fff;}
  .title-movie{font-size:30px;font-weight: bold;text-align: center;padding:10px 10px 30px 10px;margin:auto;}
  .text-box{margin:auto;}
  .text{line-height:36px;}
  .text span{font-weight: bold;}
label{padding: 6px 10px;}
  input, select {width: 19%; padding: 6px 10px; margin: 8px 18px;box-sizing: border-box;border: 1px solid #ededed; border-radius: 5px; }
  input[type=submit] {background-color: #a1a1a1; color: white; float:right;cursor: pointer;font-size:18px;}
  input[type=submit]:hover {background-color:#444;}

  @media screen and (max-width:950px){
    .movie-card {flex-direction: column;}
    img {max-width:50%;margin:auto; }
    .col-40{width:100%;margin:auto;}
  .col-60{width:100%;margin:auto;}
  .title-movie{font-size:20px;}
  .text-box{margin:auto;font-size:15px}
  }
  @media screen and (max-width:720px){
    input, select {width: 16%; }
  }